.search-container {
  width: 400px;
  max-width: 100%;
  position: relative;
  padding: 0 16px;
}

.search-bar {
  width: 100%;
  border-radius: 10px;
  border: 2px solid lightgray;
  height: 45px;
  padding: 0 8px;
  background-image: url(../assets/search.svg);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 20px;
  padding-left: 40px;
  z-index: 2;
  position: relative;
  margin-bottom: 200px;
}

.search-bar:focus {
  outline: none;
}

.result-container {
  max-height: 200px;
  overflow: auto;
  background-color: white;
  color: black;
  border-radius: 0px 0px 10px 10px;
  position: absolute;
  top: 35px;
  left: 16px;
  right: 16px;
  z-index: 1;
  padding-top: 10px;
}

.result-option {
  height: 45px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 16px;
}

.result-option:hover {
  background-color: #eee;
}

/* @media only screen and (max-width: 576px) {
  .search-container {
    width: 100%;
  }
} */
